@charset "utf-8";
* {margin:0; padding:0}
body { font-family:Verdana, Geneva, sans-serif; color: #4D4D4D; overflow-x: hidden; }

	a { color: #2185C5; text-decoration:none; transition: all ease-out 0.3s;
        &:visited {color: #2185C5;}
        &:hover { color: #6EC9EF; text-decoration:none; }
	  }

h1 { font-size: 2em; color: #0774B5; margin: 30px 0 20px 0; padding: 0; line-height: 40px; }
h2 { font-size: 1.5em; color: #0774B5; margin: 8px 0 8px 0; padding: 0; line-height: 30px; }

.textStyle1 { line-height: 25px; font-size: 16px;
ul { margin: 0; }
li { list-style: inside; list-style-type: decimal; margin: 15px 0; font-size: 14px; line-height: 20px; }
}

header {
	border-bottom: 1px #c0ddf0 solid;
}
.headRowUp { position: relative; background-color: #0774B5; }
.colLogo { background-color: #fff; box-shadow:  0 0 35px rgba(0,0,0,0.1); }
.logo { text-align: center; height: 60px; background-color: #ffffff;
    img { width: 210px; }}

.headLine { position: relative; }

.headTel { display: inline-block; font-size: 1.5em; color: #fff; padding: 15px; }
.headProblemBut { display: inline-block;
    span { margin: 0 3px 0 5px }
    a { color: #80D6FF;} }
.headLogin { display: inline-block; position: absolute; right: 0; color: #fff; margin: 23px 0 0 0; }

.version {
    color: lightgrey;
    font-size: x-small;
    display: inline-block
}

.nav1 { margin: 15px 0 10px 0;
	a { display: inline-block; position: relative; font-size: 1.2em; padding: 15px 15px; border-radius: 5px;
        &:hover { background-color: #f4f4f4 }} 
	}

.nav1ChangeOrg { display: block; position: relative; font-size: 1em !important; margin: 27px 0 5px 0;
    a { display: inline-block; margin: 0 10px 0 0; }}

.nav1ChangeOrgLink { position: relative; display: inline-block; color: #2185C5; cursor: pointer; border: 1px #daeffa solid; padding: 5px 0 5px 5px; margin: 0 0 5px 0;
    span { margin: 0 5px 0 5px }
    ul { display: none; position: absolute; font-size: 0.9em; left: 0; right: 0; text-align: left; padding: 5px; background-color: #ffffff; box-shadow: 0 5px 10px rgba(0,0,0,0.2); z-index: 1;
        a { display: block; padding: 10px; border-radius: 5px;
            &:hover {background-color: #f4f4f4 }}
    }
    &:hover ul { display: block }

}

.nav1SubMenuHover { display: inline-block;
      &:hover .nav1SubMenu { max-height: 1000px; transition: all ease-out 0.5s; }
}

.nav1SubItem { display: inline-block; padding-right: 30px !important; background: url(Images/nav1SubItem.svg) center right 12px no-repeat; }

.nav1SubMenu { display: block; position: absolute; min-width: 300px; max-height: 0; overflow: hidden; padding: 0; margin: auto; background-color: #ffffff; box-shadow: 0 5px 10px rgba(0,0,0,0.2); z-index: 1;
    a { display: block; font-size: 1.2em; padding: 15px; }
}

.nav1SubMenu .container { padding: 20px; }


.descText { margin: 0 0 20px 0 }

.expUserItem { display: inline-block; margin: 0 0 10px 0;
    a {display: inline-block; border: 1px #75C4EA solid; padding: 5px 10px; border-radius: 5px; }
    span { display: inline-block; padding: 0 5px 0 0;}
}
	
.breadcrumb2 { margin-left: -10px;
	a { display:inline-block; padding: 25px 10px 0 10px;}
}
	
.bodyBack { background: url(Images/bodyBack.jpg) top center repeat-x; }

.toolPanel1 { font-size: 1.2em; background-color: rgba(255,255,255,.8); border-top: 1px #daeffa solid; border-bottom: 1px #daeffa solid;
        .col-md-8 { border-right: 1px #daeffa solid; }
        .col-md-4 { text-align: right } }

.toolPanel2 { background-color: rgba(255,255,255,.5); border-bottom: 1px #daeffa solid;
        .col-md-8 { }
        .col-md-4 { border-right: 1px #daeffa solid; } }



.subLinks1 { font-size: 0.9em;
	a { display: inline-block; padding: 10px 17px 10px 17px; margin: 5px 3px; border-radius: 5px; }
}

.linkBut {
    a { display: inline-block; border: 1px #ffffff solid;
        &:hover { border-color: #6EC9EF; }}
}

.subBlock1 { display: inline-block; padding: 0 15px;
    a { display: inline-block; padding: 10px 10px; }}

.delItem { color: #FF543F !important;
    span { display: inline-block; margin: 0 3px 0 0 }}

.active { color: #ffffff !important; background-color: #0774B5 !important }

.table1 { 
    table { font-size: 13px; width: 100%; border-width: 0; border-top-left-radius: 5px; border-top-right-radius: 5px; border-collapse: collapse; overflow: hidden; background-color: #ffffff; box-shadow: 0 3px 20px rgba(0,0,0,0.2); }
    thead { color: #fff; background-color: #0774B5; border-collapse: separate; }
    tbody tr:hover {background-color: #F2F2F2;}
    th { color: #edf8fd; font-weight: 100; border-bottom: 1px solid #c1dcec !important; vertical-align: middle !important; padding: 10px 15px !important; }
    td { position: relative; border-bottom: 1px #c1dcec solid; padding: 10px 15px !important; vertical-align: middle !important; }
}

.table1AlignUp td {vertical-align: top !important;}

.tablesorter-header-inner {
               &:after { content: "\25bd"; font-size: 12px; padding: 0 0 0 4px;}
}

.tableActItem { color: #ffffff !important; font-weight: bold !important;
    &:after { font-size: 10px !important; padding: 0 0 0 3px; }
}

.tableActItemUp { @extend .tableActItem; &:after { content: "\25b2" !important; } }
.tableActItemDown { @extend .tableActItem; &:after { content: "\25bc" !important; } }

.tableArrow { font-size: 9px; padding: 0 0 0 3px; }

.numArrows { display: inline-block; text-align: center; width: 30px;
    .form-control { display: inline-block; width: 30px; height: 28px; padding: 3px }}

.table1MinTd { width: 1px; }

.table1Check { width: 16px; height: 16px }

.table1But { display: inline-block; font-size: 28px; padding: 8px; background-repeat: no-repeat; background-position: center; background-size: contain; border-radius: 5px; text-align: center; vertical-align: middle;
    &:hover { background-color: #fff; box-shadow: 0 0 10px rgba(0,0,0,0.2); }}

.TableIcon1 { display: block; font-size: 28px; text-align: center}

.table1ButDel { @extend .table1But; width: 35px; height: 35px; background-image: url(Images/ButDel.svg); }
.table1ButList { @extend .table1But; width: 35px; height: 35px; background-image: url(Images/ButList.svg); }

.table1ButAccept { color: #5cb85c !important; }
.table1ButEdit { color: #d9534f !important; }

.gtdNumInput { position: relative; width: 40px; height: 35px; top: 0; bottom: 0; margin: auto; padding: 6px;
    &:focus { position: absolute; right: 0; width: 300px; transition: width ease-out 0.2s; }
}


.table2 { display: table; background-color: #fff; cursor: default; font-size: 12px;
    ul { display: table-row; border-bottom: 1px #F2F2F2 solid;
        &:hover {background-color: #fafafa; }
        }
    li {display: table-cell; padding: 8px 15px; font-size: 12px; }}

.table2Head { color: #fff; background-color: #0774B5;
       &:hover {background-color: #0774B5 !important; } }


.DropDownBlock label { display: block; font-weight: 100; cursor: pointer; }

.DropDownBlockCheck { display: none }

.DropDownBlockLink { display: inline-block; font-size: 1.2em; color: #0774B5; padding: 5px 10px 2px 22px; border-bottom: 1px #75C4EA dashed; }
.DropDownBlockLink:before { content: "+ "; position: absolute; margin: -5px 0 0 -22px; font-size: 21px; font-weight: 100; color: #75C4EA; }

.DropDownBlockCheck:checked ~ .DropDownBlockCont { max-height: 1000px; position: relative; transition: all ease-out 1s; }
.DropDownBlockCheck:checked + .DropDownBlockLink { font-weight: bold; border-bottom: none; }
.DropDownBlockCheck:checked + .DropDownBlockLink:before { content: "- " }

.DropDownBlockCont { display: block; margin: 20px 0 0 0; max-height: 0; overflow: hidden; position: absolute }



.status1 { display: block; width: 100%; font-size: 0.9em; color: #ffffff; background-color: #777777; border-radius: 4px; text-align: center; padding: 2px; border: none; }

.statSuccess { @extend .status1; background-color: #5CBA5B; }
.statError { @extend .status1; background-color: #c9302c; }
.statBlue { @extend .status1; background-color: #337ab7; }

.paginationBlock { text-align: center }
.pagination {
    li { display: inline-block; font-size: 1.3em; }
}





.indBlock { background-color: #F7F7F7; margin: 25px 0; font-size: 14px; box-shadow: 0 0 30px rgba(26,76,91,0.4); border-radius: 20px; overflow: hidden;
    ul { display: block }
    li { display: block; border-bottom: 1px #e7e7e7 solid; padding: 15px 0; }
}

.indBlockHead { color: #ffffff; font-size: 21px; padding: 20px 35px; background-color: #0774B5; background-image: url(Images/NewFront/indBlockHead.png); background-repeat: no-repeat; background-position: right; }
.indBlockBody { padding: 20px 35px; }

.indBlockError { border: 2px #DE351F solid;
    .indBlockHead { background-color: #DE351F; }
}

.errorColor { color: #DE351F }

.butBlock1 { margin: 8px 0 0 0;
    button { margin: 5px 0 }
}

.servicesStat { color: #008C0E;
    span { margin: 0 10px 0 0 }}

.indBlocCompany {
    strong { color: #0774B5; }
}

.indBlockChangeOrg { float: right }

.indBlockRight { padding: 0 10px 0 50px; }


.indBlock2 {
    div {border-bottom: 1px #e7e7e7 solid; padding: 20px;
        a { display: block; font-size: 23px; padding: 8px 0 }}
}


.indBlock2 { @extend .indBlock; font-size: 12px;
    ul { margin: 0; padding: 0 }
    li { padding: 8px 0; }
}

.indBlock2Head { @extend .indBlockHead; font-size: 18px; padding: 10px 25px !important; }







//footer

footer {
    position: relative;
    font-size: 18px;
  position: relative;
  background-color: #0774B5;
  width: 100%; margin: 30px 0 0 0; z-index: 9999; }

.footerFix {
  position: fixed;
  bottom: 0; }

.footer2 {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 10px 4px 10px;
  background-color: #0774B5;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); z-index: 9999 }
  .footer2 a {
    color: #ffffff;
    text-decoration: none; }
    .footer2 a:hover {
      color: #6EC9EF; }

.footerTop {
  position: relative;
  color: #ffffff;
  padding: 30px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  a {
    color: #ffffff;
    text-decoration: none;
    &:hover { color: #6EC9EF; } } }

.footItems a {
  display: block;
  padding: 10px 0; }

.footIc {
  display: block;
  padding: 10px 0 10px 50px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 40px 40px; }

.footIcF2 {
  display: inline-block;
  font-size: 16px;
  padding: 6px 30px 8px 30px;
  background-repeat: no-repeat;
  background-position: left 5px; }

.footIcVideo {
  background-image: url(Images/footIcPlay.svg); }
  .footIcVideo:hover {
    background-image: url(Images/footIcPlayAct.svg); }

.footIcHelp {
  background-image: url(Images/footIcHelp.svg); }
  .footIcHelp:hover {
    background-image: url(Images/footIcHelpAct.svg); }

.footIcCont {
  background-image: url(Images/footIcCont.svg); }
  .footIcCont:hover {
    background-image: url(Images/footIcContAct.svg); }

.footTel {
  display: inline-block;
    font-size: 21px;
  color: #ffffff;
  white-space: nowrap;
  margin: 0;
  padding: 0 0 3px 43px;
  background: url(Images/footIcTelBlack.svg) left 9px center no-repeat; }

.footTelPos {
  margin: 5px 0 0 0; }

.footTelPosF2 {
  margin: 0 35px 5px 0; }

.butCallBack {
  display: inline-block;
  color: #ffffff !important;
  border: 1px #ffffff solid;
  padding: 6px 18px 6px 46px;
  border-radius: 5px;
  background-image: url(Images/footIcTel.svg);
  background-repeat: no-repeat;
  background-position: left 11px center;
  white-space: nowrap;
  transition: all ease-out 0.2s; }
  .butCallBack:hover {
    color: #6EC9EF !important;
    border: 1px #6EC9EF solid;
    background-image: url(Images/footIcTelAct.svg); }

.butCallBackPos {
  margin: 25px 0 0 0; }

.butCallBackPosF2 {
  margin: 0 0 5px 0; }

.footerBottom {
    font-size: 14px;
  text-align: center;
  color: #fff;
  padding: 18px 10px 10px 10px;
  background-color: #065F94; }


.form-group {
    border-bottom: 1px #dcf0fa solid;
    padding: 15px 0;
    margin-bottom: 0;
}

.form-control { padding: 0 10px; }

.control-label {
    font-weight: bold; font-size: 13px;
}

.space-top {
    margin-top: 15px;
}

.privAgr { display: block; color: #6EC9EF; margin: 5px 0 6px 0;
    &:hover { color: #ffffff; }}







@media (min-width: 1600px) {
    
.container { width: 1570px }
 
    
}





@media (max-width: 1600px) {

    body { }
    
.table1 {  
    table { font-size: 11px;
    th { padding: 10px !important; }
    td { padding: 10px !important; }
}
}
    
.tablesorter-header-inner {  &:after { padding: 0 0 0 2px;} }
    
}






@media (max-width: 1200px) {

    body { overflow-x: auto; }
    
    .table1 {
    table { font-size: 10px;
    th { padding: 5px !important; }
    td { padding: 5px !important; }
} }
    
.tablesorter-header-inner {  &:after { content: ""; padding: 0;} }
    
.tableActItem { &:after { font-size: 7px !important; padding: 0 0 0 2px; }
}
    
    .table1But { font-size: 18px }
    
    .gtdNumInput { font-size: 9px; width: 20px; padding: 3px; }
    
    .btn-sm { font-size: 8px;}
    
}






@media (max-width: 992px) {
    
    
    
    .headProblemBut { margin: 5px 10px; }
    
    .headLogin { position: relative; margin: 15px 15px;  }
    
    .nav1 { 
	a { display: block; } 
	}
    
    .nav1SubMenuHover { display: block; }
    
    .toolPanel1 { 
        .col-md-8 { border-right: none; }
        .col-md-4 { text-align: left }}
    
    .toolPanel2 {
        .col-md-8 { }
        .col-md-4 { border-right: none; } }
    
    .table1 {
    table { font-size: 8px;
    th { padding: 4px !important; }
    td { padding: 4px !important; }
        }
    }
    
    .tableArrow { font-size: 6px; padding: 0 0 0 2px }
    
footer {  }
    
    .butCallBack { padding: 6px 12px 6px 40px; }
    
    .footIc { padding: 10px 0 10px 45px; }
    
    .footerBottom { font-size: 11px; }
    
    .table1But { font-size: 12px; padding: 6px; }
    
    
    
}






@media (max-width: 768px) {
    
    body { overflow-x: auto; }
    
}